{% extends "personal/header.html" %}
{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="portfolio-list-page">
	<div class="portfolio-info">
		{% include "portfolio/includes/port_list_heading.html" %}
	</div>
	{% for port in portfolio_list %}
		<div class="main-portfolio-container">
			
			<div class="main-portfolio-header">
				<h3 class='main-portfolio-title'>{{port.title}}</h3>
				<div class="main-portfolio-subheader">
					<p class='main-portfolio-author'><i class="fa  fa-group"></i> By: {{port.author.get_full_name}} </p>
					<p class='main-portfolio-publish'><i class="fa fa-calendar-o"></i> On: {{port.publish}}</p>
				</div>
			</div>
			<div class="main-portfolio-body">
				<div class="main-portfolio-img">
					<img src="{{port.image.url}}" class="img-responsive" />
				</div>
				<div class="main-portfolio-blurb ">
					<p>{{port.body| safe|slice:":500"}}...</p>
					{%if port.draft%}<h4>Draft</h4>{% endif %}
				</div>
			</div>
			<div class="main-portfolio-footer">
				<div class="main-portfolio-btns">
					<div class="blog-list-contiune">
						<a href="/portfolio/{{port.slug}}" class="blog-btn-style">Contiune Reading</a>
					</div>
					<div class="blog-list-contiune">
						<a href="{{port.gitLink}}" class="blog-btn-style">View Project</a>
					</div>
				</div>
				<p class='main-port-tags'>{{port.tags}}</p>

				{%if user.is_authenticated %}
					<div class="portfolio-admin-controls">
						<div class="portfolio-edit-button">
							<form action="{% url 'portfolio:update-portfolio' port.slug %}" method="get">
								{% csrf_token %}
								<input type="hidden" name="portfolio_id" value="{{port.slug}}" />
								<button type="submit" class="btn btn-link">Edit</button>
							</form>
						</div>
						<div class="portfolio-delete-button">
							<form action="{% url 'portfolio:delete-portfolio' port.id %}" method="get">
								{% csrf_token %}
								<input type="hidden" name="portfolio_id" value="{{port.id}}" />
								<button type="submit" class="btn btn-link" 
								onclick="if(!(confirm('Are you sure you want to delete the post?'))) return false">Delete</button>
							</form>
						</div>
					</div>
				{% endif %}

			</div>

		</div>
	{% endfor %}
	{% if portfolio_list.length == 0  %}
	<div class="no-content">
		<h3 >
				<span class="highligher">No Content</span> I am still working on adding new content so be sure to check
				my blog and my GitHub page for other project whilst I add content here
			</h3>
	</div>
	{% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/static/portfolio/js/portfolio-list.js"></script>
{% endblock %}