* {
    color: rgb(153, 154, 156);
}

a:hover {
    color: #4196ea;
    text-decoration: none;
}

html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(41, 41, 41);
}

p {
    color: lightslategrey;
}
/*Navbar styling*/
.user-detail-above-nav {
    text-align: center;
}

    .user-detail-above-nav a {
        color: #4196ea;
    }

        .user-detail-above-nav a:hover {
            color: lightslategrey;
        }

.navbar-inverse {
    background-color: transparent;
    border: 0px;
    margin-bottom: 20px;
    background-image: none;
}

ul.nav a {
    text-decoration: none;
    background-color: transparent !important;
    color: #778899 !important;
    font-size: 22px;
}

ul.nav a:hover {
    color: #526D87 !important;
    border-width: 0px;
    border-style: solid;
    background-color: transparent;
}
ul.navbar-right {
    margin-top: -3px;
}

.navbar-brand {
    font-size: 30px;
    float: left;
    color: #4196ea !important;
    font-family: 'Pacifico', cursive;
}

.navbar-brand:hover {
    color: aliceblue !important;
}
.username-login-tools{
    padding-top: 5px;
}
/* Block general Styles */

.main-page-content{
    flex: 1 0 auto;
}

/*Homepage Style*/
#homepage-main-text {
    margin-top: 200px;
    padding-left: 20px;
    display: block;
    width: 40%;
    color: rgb(153, 154, 156);
}

    #homepage-main-text h3 {
        font-family: 'Titillium Web', sans-serif;
        visibility: hidden;
    }
/*Resumepage Style*/

/*Blogpage Style*/
.blog-search-bar {
    padding-top: 30px;
    text-align: right;
    padding-left: 40px;
}

.main-blog-container {
    margin: 10px 20px 40px 20px;
    max-width: 780px;
    max-height: 506px;
    min-height: 506px;
}

.blog-list-body {
    margin-bottom: 15px;
    margin-top: 10px;
}
.blog-list-image img{
    max-height: 225px;
}

.blog-btn-style {
    background-color: #4196ea;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: -1px 1px 2px #283966;
}

.blog-btn-style:hover {
    background-color: #3e454f;
    color: #ffffff;
}

.blog-btn-style:active {
    position: relative;
    top: 1px;
}
.blog-publish-time{
    padding:0;
}

@media (max-width: 1000px) {
    .main-blog-container {
        width: 85%;
        max-height: auto;
    }

    .blog-list-continue {
        text-align: center;
    }

    .about-col{
        width: 85%;
    }
}
/* blog add page */

#blog-container{
    width: 700px;
}

/*Portfoliopage Style*/

/*Aboutpage Style*/
#aboutpage-main-text {
    display: block;
    color: rgb(153, 154, 156);
}
.about-page-update-log{
    padding-left: 20px;
}


.highligher {
    color: #4196ea;
}

/*Pushing things away from the nav*/
h2 {
    margin-top: 40px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}
.fa:hover {
    color:#4196ea !important;
}

/* Hide/rearrange for smaller screens */
@media (max-width: 1000px) {
    .collapsing, .in {
        background-color: #f7f7f7;
    }

        .collapsing ul li a, .in ul li a {
            color: #555 !important;
        }

            .collapsing ul li a:hover, .in ul li a:hover {
                color: #f1f1f1 !important;
            }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    #homepage-main-text {
        margin-top: 10px;
        padding-left: 20px;
        display: block;
        width: 100%;
        color: rgb(153, 154, 156);
    }

    footer {
        margin: auto;
        width: 100%;
        position: relative;
        bottom: 0;
    }
}

/*Footer styling*/
footer {
    width: 100%;
    /* position: fixed;
    bottom: 0; */
    background-color: rgb(41, 41, 41);
    margin-top: 10px;
}

footer a {
    color: lightslategrey;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    color: #4196ea !important;
}

#footer-social-media {
    padding-bottom: 10px;
}

footer p {
    color: lightslategrey;
}

#pagination-total-count {
    float: left;
    margin-left: 30px;
}
