<div id="aboutpage-main-text">
    <h1 class="myFadeIn"><span class="highligher">About</span></h1>
    <div class="col-xs-6 about-col">
        <h3 class="slideDown">
            <span class="highligher">Me</span> I seriously got into the idea of programming in
            2015 self teaching myself Java initally. I decided to later formalise my learning by
            completing a post-grad course from Manchester University (UK) Introduction to software
            Development in <span class="highligher">Java</span>. 
            From here I have expanded my knowledge to Python, 
            <span class="highligher">C#</span> Javascript
            along with 
            <span class="highligher">Android</span>, Django, Asp.Net Core and 
            <span class="highligher">SQL</span> databases.
        </h3>
    </div>

    <div class="col-xs-6 about-col">
        <h3 class="slideDown">
            <span class="highligher">The Site</span> I have been playing around with web 
            development ever since I was in High school, however I only recently got serious
            about it. This is the third iteration of my homepage, now written in 
            <span class="highligher">Django 2.0</span> as the Framework using Python3 on a Ubuntu 16.04
            server with <span class="highligher">JQuery</span>, served from a
            <span class="highligher">SQLite</span> database. I have added in <span class="highligher">Django-Rest-Framework</span>
            and aim to build in some <span class="highligher">Angular</span> in time.
        </h3>
    </div>

    <div class="col-xs-12">
        <h3 class="slideDown">
            <span class="highligher">Work</span> I am currently working in <span class="highligher">Singapore</span> with a lot of really interest technologies, working
            <span  class="highligher">Full Stack</span> expanding my understanding and knowledge greatly as I am working daily with a RESTful API which I have implemented 
            using <span class="highligher">ASP.Net Core</span> on a Windows 2012 server communcating to verious <span class="highligher">JavaScript</span> dynamic apps written 
            in <span class="highligher">Angular and VueJS</span>, including Two Factor SMS Authentication, Data analysis, and several others. I love technology and I love creating 
            awesome apps with some design flair.
        </h3>
    </div>

</div>