<div id="aboutpage-main-text">
    <h1 class="myFadeIn"><span class="highligher">About</span></h1>
    <div class="col-xs-6 about-col">
        <h3 class="slideDown">
            <span class="highligher">Me</span> I seriously got into the idea of programming in
            2015 self teaching myself Java initally. I decided to later formalise my learning by
            completing a post-grad course from Manchester University (UK) Introduction to software
            Development in <span class="highligher">Java</span>. 
            From here I have expanded my knowledge to Python, 
            <span class="highligher">C#</span> Javascript
            along with 
            <span class="highligher">Android</span>, Django, Asp.Net Core and 
            <span class="highligher">SQL</span> databases.
        </h3>
    </div>

    <div class="col-xs-6 about-col">
        <h3 class="slideDown">
            <span class="highligher">The Site</span> I have been playing around with web 
            development ever since I was in High school, however I only recently got serious
            about it. This is the second iteration of my homepage, now written in 
            <span class="highligher">Django</span> as the Framework using Python on a Ubuntu
            server with <span class="highligher">JQuery</span>, served from a
            <span class="highligher">SQLite</span> database. Although I am working on a total
            overhaul to <span class="highligher">ASP.NET Core</span> soon.
        </h3>
    </div>

</div>