<div class="resume-header-main">
    <h3 class="slideDown">
        Hi I'm <span class="highligher">Alex</span> I've been working as a developer since 2017 and I have covered
        many interesting technologies such as <span class="highligher">C#, Angular, VueJS, Python</span> both in work
        and during my free time. I enjoy learning and reading up on new exciting technologies and making even more awesome
        applications.
    </h3>
    <h3 class="myFadeIn">    
        <span class="highligher">Projects I've Worked On</span>
        <br><br>
        <span class="highligher">RESTful API</span> on a Microsoft stack written in <span class="highligher">ASP.NET Core 2</span> using JWTs for security talking to a Angular and VueJS frontend
        with full CRUD functionality along with intergration into other platform APIs to deliver extra functaionality such as emails, sms authentication and QRCodes.
        <br><br>
        <span class="highligher">Dynamic graphic</span> web apps written in the <span class="highligher">Angular 4</span> framework working with <span class="highligher">Google Charts</span>
        API to deliver fully dynamic and interactive charts that allow for much more indepth data analysis.
        <br><br>
        <span class="highligher">Two Factor Authentication</span> linking a <span class="highligher">VueJs</span> frontend webapp to a backend API which in turn is talking to
        a <span class="highligher">SMS server API</span> that sends out the codes which it will in turn authenticate.
        <br><br>
        <span class="highligher">User Area </span> web app written in <span class="highligher">Angular 5</span> to group important user data into one easy to view location, display
        sensitive data discreetly and have booking capabilities for modules aswell as access to important user forms and employee handbooks.
    </h3>
</div>