<h2><a name="update"></a><span class="highligher">Version 2.0.0 Log</span></h2>

<div class="about-page-update-log">
    <p>
        The last major update and overhaul to the site was a good few months ago and by and large I have not really done much
        else to the site in the mean time. I have been busy working on many new projects exploring the wonderful world of JavaScript
        and beyond. I have also decided to scrap the full site rewrite, I did write a fair amount in .Net Core as a learning exercise
        but considering this site is very workable it is not in need of a full rewrite.
    </p>
    <p>
        The first major update was one to the style of the site this time I decided to not only improve the overall style of the site
        but to actually add in more features with the most import being the portfolio now.
    </p>
</div>