
<h2><a name="update"></a><span class="highligher">Version 1.1.0 Log</span></h2>

<div class="about-page-update-log">
<p>
This is the first major update I have rolled out and addresses the style of the site. I have learnt
a lot over the year especially when regarding style of a page, my original design was very simple
I hope this one is a little nicer to look at.
</p>
<p>
	I am currently working on rewriting the whole site in ASP.NET Core, however this is taking a little
	longer than I would have liked so I decided to do a quick CSS swap on here in the mean time to provide
	a better experience.
</p>
</div>