{% extends "personal/header.html" %}
{% block title %}Blog{% endblock %}


{% block content %}


<div class="row">
	<div class='col-md-offset-3'>
		<form method='GET' actions=''>
			<div class='col-sm-6'>
				<div class='input-group col-sm-6' >
					<input class='form-control' type='text' name='q' placeholder='Search posts' value='{{request.GET.q}}' placeholder="search" />
					<span class='input-group-btn'>
						<input class="btn btn-default" type = 'submit' value='Search'/>
					</span>
				</div>
			</div>
		</form>
	</div>
</div>

{% for post in blog_list %}

<div class="main-blog-container col-xs-offset1 col-xs-5">
    <div class="blog-list-header ">
        <div>
            <h3 class="highligher">{{post.title}} </h3>
        </div>
    </div>
    <div class="col-xs-4  blog-publish-time">
        <p><i class="fa fa-calendar-o"></i> On: {{post.publish}}</p>

    </div>
    <div class="col-xs-8  blog-author text-left">
        <p><i class="fa  fa-group"></i> By: {{post.author.get_full_name}} </p>

    </div>

    <div class="blog-list-image">

   		<img src="{{post.cover_img.url}}" class="img-responsive" />
            
    </div>

    <div class="blog-list-body">
		 <div class = "content-markdown"><p>{{post.body| safe|slice:":500"}}...</p>
				{% if post.draft %}<em><h4>Draft</h4></em>{%endif%}
		</div>
		<div class="blog-list-contiune">
		    <a href="/blog/{{post.slug}}" class="blog-btn-style">Contiune Reading</a>
		</div>

		{% if user.is_authenticated %}

	    <div class="blog-admin-controls row">
		    <div class="col-xs-1">
		        <form action="{% url 'blog:update-blog' post.slug %}" method ="get">
					{% csrf_token %}
					<input type="hidden" name="blog_id" value="{{post.slug}}"/>
					<button tpye="submit" class="btn btn-link">Edit</button> 
				</form>
			</div>

			<div class="col-xs-2">
				<form action="{% url 'blog:delete-blog' post.id %}" method ="POST">
					{% csrf_token %}
					<input type="hidden" name="blog_id" value="{{post.id}}"/>
					| <button tpye="submit" class="btn btn-link" 
					onclick="if(!(confirm('Are you sure you want to delete the post?'))) return false">Delete</button>
				</form>
			</div>
	    </div>
	
	    {% endif %}
	</div>
</div>

{% endfor %}

{% if is_paginated %}
<div class="container-fluid">
	<div class="row">
		<div class ="col-xs-6 col-md-5"></div>
		<div class ="col-xs-6 col-md-4">
			<div class="pagination" style="float: center;">
				<span class="page-links">
					{% if page_obj.has_previous %}
					<a href="{% url 'blog:blog_list' %}?page={{ page_obj.previous_page_number }}{%if request.GET.q%}&q={{request.GET.q}}{% endif %}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button></a>
					{% endif %}
					<span class="page-current">
						<button type="button" class="btn btn-default">                    
							{% for num in page_obj.paginator.page_range %}
							{% if num == page_obj.number%}
							<span class="current"><b>{{num}}</b></span>
							{%else%}
							<a href="/blog?page={{num}}">{{num}} </a>
							{% endif %}
							{% endfor %}</button>

						</span>
						{% if page_obj.has_next %}
						<a href="{% url 'blog:blog_list' %}?page={{ page_obj.next_page_number }}{%if request.GET.q%}&q={{request.GET.q}}{% endif %}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button></a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
	{%endif%}


{% endblock %}
