{% extends "personal/header.html" %}
{% block title %}Blog post| {{post.title|slice:":30"}}...{% endblock %}
<!DOCTYPE html>
<html>
<html>
<head>

	
	{% block content %}
	<style>
		.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
			width: 97% !important;
		}
	</style>
	<div class="blog-detail-main-container">
		<div class="blog-detail-header" style="background: url('{{post.cover_img.url}}');background-size: cover;">
			<div class="blog-detail-title">
					<h1 class="highligher">{{post.title}}</h1>{% if post.draft %}<h4 class="blog-draft">Draft</h4>{%endif%}
			</div>

		</div>
		<div class="blog-detail-byline" id="byline">
			<div class="blog-detail-byline-container">
				<div class="fb-like blog-detail-fb-bar" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
				<div class="blog-detail-info">
					<p class="blog-detail-info-para"><i class="fa fa-calendar-o"></i> On: {{post.publish}} <i class="fa  fa-group"></i> By: {{post.author.get_full_name}} </p>
				</div>
			</div>
			<hr class="byline-rule">
		</div>
		<div class="blog-detail-text-body">
			<div class="content-markdown">{{post.body}}</div>
			<hr class="byline-rule">
			
			<div class="blog-detail-text-end">
				{% if post.last_modified != null %}
				<div class="blog-detail-edit">
					<p class="blog-detail-last-edit highligher">Last edited: {{post.last_modified}}</p>
				</div>
				{%endif%}

				{% if user.is_authenticated %}
				<div class="blog-detail-admin-controls">
					<div class="blog-detail-edit-button">
						<form action="{% url 'blog:update-blog' post.slug %}" method="get">
							{% csrf_token %}
							<input type="hidden" name="blog_id" value="{{post.slug}}" />
							<button type="submit" class="btn btn-link">Edit</button>
						</form>
					</div>
					<div class="blog-detail-delete-button">
						<form action="{% url 'blog:delete-blog' post.id %}" method="get">
							{% csrf_token %}
							<input type="hidden" name="blog_id" value="{{post.id}}" />
							<button type="submit" class="btn btn-link" 
							onclick="if(!(confirm('Are you sure you want to delete the post?'))) return false">Delete</button>
						</form>
					</div>
				</div>
				{% endif %}

			</div>
			<div class="fb-comments blog-detail-body-fb-comments" style="width:100% important!" data-href="{{request.build_absolute_uri}}" data-numposts="5" data-width="800">

			</div>
		</div>
	</div>
	{% endblock %}