{% extends "personal/header.html" %}

{% block title %}About{% endblock %}

{% block content %}


<div class = "row">
	<div class="col-md-2"></div>
	<div class = "col-md-8">
		<div class = "col-mid-8">
			{% include "personal/includes/newabout.html" %}
		</div>

		<div class="col-md-11">
			<a name ="update"></a> 
			{% include "personal/includes/update-blog-2-1-0.html" %}
			{% include "personal/includes/update-blog-2-0-0.html" %}			
			{% include "personal/includes/updateBlog.html" %}
		</div>

	</div>
</div>


{%endblock%}