<!DOCTYPE html>
<html lang="en">

<head>
	<title>Alex Wilkinson | {% block title %}{% endblock %}</title>
	<meta charset="utf-8" />
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover.css">
	<script src="https://use.fontawesome.com/fc41b66700.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Ruda:900|Titillium+Web:600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$(".content-markdown").each(function(){
				var content = $(this).text()
				var markedContent = marked(content)
				$(this).html(markedContent)
			})
			$(".content-markdown img").each(function(){
				$(this).addClass("img-responsive");
			})
		})
	</script>	

	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/animations.css' %}" type='text/css'/>
	<link rel='stylesheet' href="{% static 'css/site.css' %}" type='text/css'/>

{% block head_extra %} {% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://alexwilkinson.co/media/icon.png">
<meta name="google-site-verification" content="181aV7AsGzfRWwFQhxojrp4ZQu_Lrn4_r0Kbz9zGCo8" />
</head>

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'personal:index' %}" >Alex Wilkinson</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse collapse" id="main-nav">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
				<li><a href="{% url 'portfolio:portfolios' %}">Portfolio</a></li>				
				<li><a href="{% url 'personal:resume' %}">Resume</a></li>
				<li><a href="{% url 'personal:about' %}">About</a></li>
			</ul>

			<ul class="navbar-right">

				{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="{% url 'personal:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;{{user.username}}</a></li> -->
					
					<li class="dropdown username-login-tools">
							<!-- <a href="{% url 'personal:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> -->
							<a class="dropdown-toggle " data-toggle="dropdown" href="#">{{user.username}}
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'blog:add-blog' %}"><i class="fa fa-pencil"></i>  New Post</a></li>
								<li><a href="{% url 'portfolio:add-portfolio' %}"><i class="fa fa-code"></i>  Add Portfolio</a></li>								

							</ul>
						  </li>
					<li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav">
					<li><a href="/login"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Login</a></li>
				</ul>
				{%endif%}
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>


	<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="main-page-content">
		{%block content%}

		{% endblock %}
	</div>
	
<!---background-color: #F2F20F -->
<div class="footer-container">
        <footer class="text-center">

            <div id="footer-social-media">
                <a href="https://facebook.com/AWILKINSON.SG" target="blank">
                    <i class="fa fa-facebook-square fa-3x"></i>
                </a>

                <a href="https://sg.linkedin.com/in/wilkinsonalexander" target="blank">
                    <i class="fa fa-linkedin-square fa-3x"></i>
                </a>

                <a href="https://github.com/anontyro" target="blank">
                    <i class="fa fa-github-square fa-3x"></i>
                </a>

                <a href="https://twitter.com/alexwilkinson" target="blank">
                    <i class="fa fa-twitter-square fa-3x"></i>
                </a>
            </div>
				All rights reserved Alex Wilkinson {% now "Y" %} &#169  <br>
				<a href="{% url 'personal:about' %}#update">Version 2.0.0</a>
		</footer>
</div>

</body>
</html>


